{% extends "base.html" %}

{% block additional_imports %}
<script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}

{% block title %}
  Create your highlights!
{% endblock %}

{% block content %}

{{ query_results|pprint }}

<center>
<form action="/lite/create" method="post">
{% csrf_token %}
<table>
  <tr>
    <td>Describe your highlight</td>
    <td>{{ form.highlight_text }}</td>
  </tr>
  <tr>
    <td>Geotag your highlight</td>
    <td><input id="possible_venues" type="text" name="venue"></td>
  </tr>
</table>
  <input type="submit" value="Submit" />
</form>

{% if recent_highlight %}
<ol>
  <li>{{ recent_highlight.user }}</li>
  <li>{{ recent_highlight.timestamp }}</li>
  <li><a href="/lite/highlight/{{ recent_highlight.id }}">{{ recent_highlight.highlight_text }}</a></li>
</ol>
</center>
{% endif %}

{% endblock %}
