{% extends "base.html" %}
{% block content %}
    <div class="container">
      <div class="masthead">Highlite</div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h2>Capture the best of your life.</h2>
        <p class="lead">Social media has changed the way we share everything. With Highlite, you don't share anything, you share everything that matters.</p>
        <a class="btn btn-large btn-success" href="/facebook/login/">Get started today &nbsp;<img src="/static/third_party/images/facebook_32.png"/></a></div>

    </div>
{% endblock %}
