<DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Highlite - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/base.css" rel="stylesheet"> 
    <link href="/static/third_party/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/third_party/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/third_party/bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/third_party/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/third_party/bootstrap/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/third_party/bootstrap/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/static/third_party/bootstrap/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/static/third_party/bootstrap/ico/favicon.png">
  </head>

  <body>
     <div class="container-narrow">
        <div class="masthead">
        <ul class="nav nav-pills pull-right">
          {% if facebook_profile %}
          <li><a href="/lite/create">Create</a></li>
          <li><a href="/lite/feed">Experience</a></li>
          <li><a target="_blank" href="{{ facebook_profile.link }}">{{ facebook_profile.name }}</a></li>
          <li><img src="http://graph.facebook.com/{{facebook_profile.id }}/picture?type=small"/></li>
          {% endif %}
        </ul>
        <h2 class="masthead">Highlite</h2>
      </div> 
    </div>
  {%  block content %}{% endblock %}

      <hr>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/third_party/bootstrap/js/jquery.js"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap-button.js"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap-typeahead.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

  </body>
</html>
